/** Insert your code here **/

/*********** READ ONLY BLOCK ******
You CAN NOT UPDATE anything from here on,
only add lines of code on top of this lines
**/

body {
	color: blue;
}

ul li {
	color: red;
}
ol li {
	color: green;
}
#teacher {
	background-color: royalblue;
	padding: 5px;
	margin-right: 800px;
}

tr:nth-child(even) {
	background-color: yellowgreen;
}
